a {
  color: var(--primary-color-active);
  text-decoration: none;

  &:hover {
    color: var(--primary-color-hover);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }

  &:active {
    color: var(--primary-color-active);
  }
}
